*
    font-family: 'MuseoModerno', sans-serif
@import "./modules/variables"
@import "./blocks/promo"
@import "./blocks/header"
@import "./blocks/button"
@import "./blocks/benefits"
@import "./modules/mixin"
@import "./modules/global"
@import "./modules/media"
@import "../css/bootstrap-reboot.min.css"
@import "../css/fonts.css"
.container
    max-width: 950px
    margin: 0 auto